@charset "utf-8";

html,body {
    padding: 0;
    margin: 0;
    background-color:rgb(245, 244, 244);
    min-width: 600px;
}
h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}
.wrap {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 500px;
}

.contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    position: relative;
    margin: 15px 0;
    width: 225px;
    height: 330px;
    border: 8px solid #fff;
}

.box:first-child {
    background-color: #ff6347;
}
.box:nth-child(2) {
    background-color: #008080;
}
.box:nth-child(3) {
    background-color: #deb887;
}
.box:last-child {
    background-color: #d7bfd7;
}

.color_name {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 225px;
    height: 140px;
    top: 20px;
    left: -1px;
    padding-left: 5px;
}