.cal {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    background-color: blanchedalmond;
    padding: 30px;
    
}
.result {
    padding: 50px;
    border-top: 5px solid blue;
    text-align: center;
    font-size: larger;
}