div {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    border: solid 3px;
    padding: 10px;
    background-color: white;
}

div.contents {
    text-align: center;
    padding: 10px;
    border: solid 3px;
    margin: auto;
}

caption {
    text-align: left;
}

#background {
    background-color: aqua;
}

td {
    box-sizing: border-box;
    width: 10%;
    border: solid 3px;
    padding: 10px;
    background-color: white;
}

#dateDay {
    font-size: 40px;
    font-weight: bold;
}